.DS_Store
.TheBrain/
.Trash/
.android/
.anyconnect
.anydesk
.bashrc.save
.cache/
.cisco/
.cocoapods/
.emulator_console_auth_token
.gem/
.gitconfig
.gradle/
.lesshst
.local/
.m2/
.npm/
.rbenv/
.spoof-dpi/
.spoofdpi/
.ssh/
.swiftpm/
.viminfo
.vscode/
.yandex/
.zprofile
.zsh_history
.zsh_sessions/
.zshr
.zshrc
.zshrc.save
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
index.html
mtproxyd