<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   info.plist
   WareHouse1

   Created by Said Tapaev on 06.07.2024.
   Copyright (c) 2024 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
<dict>
    <!-- Добавляем CFBundleVersion в корневой словарь -->
    <key>CFBundleVersion</key>
    <string>1.0.1</string>

    <!-- Можно также добавить CFBundleShortVersionString для версии приложения -->
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>

    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSExceptionDomains</key>
        <dict>
            <key>95.174.90.162</key>
            <dict>
                <!-- Разрешить незащищенное соединение -->
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
